body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: ;
}

#container{
    display: flex;
    width: 800px;
    height: 800px;
    
}
.box,.box1{
    border: 0.5px solid #ccc;
    width: 100%;
    height: 50px;
}
button{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px ;
}